@font-face {
    font-family: Ubuntu;
    src: url(fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: Ubuntu-Mono;
    src: url(fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
}
* {
    margin: 0;
}

/* global color scheme */
:root {
    --main-txt-color: #9EFFFF; /*#0088FF;*/
    --txt-emphasis: #52beff;
    --bright-emphasis: #3AD900; /*#9EFFFF;*/
    --header: #fff;
    --focus-emphasis: #FF80E1;
    --panel-back: #013a6c; /*#002240;*/
    --default-bck: #011a31;
    --line-border: #23536a;
    --error: #ff2121;
    --silence: #52beff; /*#014480;*/

    /* syntax colors */
    --code-default: #FFFFFF;
    --code-var: #9EFFFF;
    --code-def: #FFFFFF;
    --code-operator: #FFFFFF;
    --code-number: #FF80E1;
    --code-comment: #0088FF;
    --code-keyword: #FFEE80;
    --code-string: #3AD900;
    --code-meta: #FF9D00;
}

/* top level elements */

body, html {
    font-family: Ubuntu;
    background-color: var(--default-bck);
    color: var(--main-txt-color);
    overflow-y: hidden;
}
#outframe {
    max-width: 1500px;
    background-color: var(--default-bck);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-left: 10px solid var(--default-bck);
    border-right: 10px solid var(--default-bck);
}
.main {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

/* header */

#header {
    height: 6vh;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    background-color: var(--default-bck);
}
#header h1 {
    padding-top: 4px;
    display: inline;
    margin-right: 16px;
    padding-left: 4px;
    padding-right: 4px;
    /* color: #FF80E1; */
    color: var(--header);
}
#header h2 {
    padding-top: 15px;
    /* font-weight: normal; */
    font-size: 120%;
    display: inline;
    color: var(--main-txt-color);
}
#whistling {
    color: var(--txt-emphasis);
}
#danieltemkin {
    color: var(--main-txt-color);
}

/* Column 1 */

.input-stream {
    flex: 0 0 150px;
    background-color: var(--panel-back);
    color: var(--main-txt-color);
    overflow-y: hidden;
}
#incidentals {
    font-family: Ubuntu-Mono, sans-serif;
    line-height: 200%;
    color: var(--silence);
}
.inrange {
    color: var(--main-txt-color);
}
/* Column 2 */

.note-program {
    flex: 25%;
    border-right: 1px solid var(--line-border);
    display: flex;
    flex-direction: column;
}

#currentlySounding {
    font-size: 20px;
    line-height: 200%;
    margin: 0;
    padding-bottom: 30px; 
    padding-left: 10px;
    padding-top: 10px;
    background-color: var(--panel-back);
    color: var(--main-txt-color);
    /* color: var(--bright-emphasis); */
}
#currNote {
    color: var(--focus-emphasis);
}
#rootNote {
    color: var(--bright-emphasis);    
}
.button {
    background-color: var(--panel-back);
    border: 1px solid var(--line-border);
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.disabled {
    color: #999;
    cursor: default;
    border: 1px solid #999;
}
.button:hover {
    background-color: #ccc;
}
.disabled:hover {
    background-color: #fff;
}

#error {
    flex: 60px;
    padding-top: 10px;
    color: var(--error);
}
.notes_header {
    display: flex;
    flex: 50%;
    flex-direction: column
}
#notes {
    display: flex;
    flex: 50%;
    overflow-y: auto;
    flex-direction: column
}
#curr_cmd_notes {
    display: flex;
    flex: 50%;
    overflow-y: auto;
    flex-direction: column;
    background-color: var(--panel-back);
    font-size: 20px;
    padding-left: 5px;
    padding-top: 5px;
}
#curr_cmd_notes .desc {
    color: var(--bright-emphasis);
}
#curr_cmd_notes .exp {
    color: var(--code-keyword);
}

/* Column 3 */

.text-program {
    flex: 25%;
    display: flex;
    flex-direction: column;
}

#js-program {
    flex: 50%;
    overflow-y: scroll;
}
#js-output {
    flex: 50%;
    overflow-y: scroll;
}
#program_txt {
    color: val(--code-default);
}
#program_txt .var {
    color: var(--code-var);
}
#program_txt .def {
    color: var(--code-def);
}
#program_txt .oper {
    color: var(--code-operator);
}
#program_txt .num {
    color: var(--code-number);
}
#program_txt .cmt {
    color: var(--code-comment);
}
#program_txt .key {
    color: var(--code-keyword);
}  
#program_txt .str {
    color: var(--code-string);
}
#program_txt .meta {
    color: var(--code-meta);
}

/* Column 4 */

.instructions {
    flex: 0 0 250px;
    border-left: 5px solid var(--panel-back);
    overflow-y: scroll;
    padding-top: 10px;
}
.instructions ul, li {
    padding-left: 0;
    margin-left: 8px;
}
.instructions ul {
    line-height: 150%;
}
.instructions ul li ul {
    list-style-type: none;
}
.instructions h3, p {
    padding-top: 20px;
    line-height: 200%;
}
.instructions h2 {
    /* color: var(--bright-emphasis); */
    padding-bottom: 10px;
}
.instructions a, .instructions a:hover, .instructions a:visited {
    color: var(--txt-emphasis);
}
.ul_head {
    line-height: 400%;
}
.playbutton {
    cursor: pointer;
    text-decoration: underline;
    color: var(--txt-emphasis);
}
.padding {
    height: 100px;
}
.box {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    height: 94vh;
}
#output {
    /* background-color: #002240; */
    padding: .5em;
}

/* pop-ups */

#loading_modal {
	position: fixed;
	z-index: 98;
    left: 50%;
    top: 30px;
    width: 500px;
    transform: translate(-50%, 0);
	overflow: auto;
    display: block;
}
#modal {
	position: fixed;
	z-index: 99;
	padding: 50px 0 50px 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, .1);
    display: none;
}

#modal_content {
	width: 50%;
    border: none;
    background-color: #fbfdfe;
	margin: auto;
	padding: 15px;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	box-shadow: 1px 1px 14px 3px rgba(0,0,0,0.25);	
    pointer-events: all;
    z-index: 9900;
}
#modal_content p {
    width: 100%;
    text-align: left;
}
.close {
	color: #aaa;
	float: right;
    margin-top: -15px;
	font-size: 30px;
	font-weight: 700
}
.close:focus,
.close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .main {
        flex-direction: column;
        width: 100vh;
    }
    .box {
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid black;
    }
    .box {
        height: auto;
    }
    #header {
        height: auto;
    }
    #outframe {
        border: none;
    }
    .note-program {
        padding-right: 10px;
    }
}