body, html {
    height: 100%;
}
@font-face {
    font-family: Ubuntu-Light;
    src: url(fonts/Ubuntu/Ubuntu-Light.ttf);
}
@font-face {
    font-family: Ubuntu;
    src: url(fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: Ubuntu-Mono;
    src: url(fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
}
* {
    margin: 0;
}

/* global color scheme */
:root {
    --main-txt-color: #3b3b3d; /*#0088FF;*/
    --txt-emphasis: #4b75d2;
    --bright-emphasis: #559d5c; /*#9EFFFF;*/
    --header: #6f6f6f;
    --focus-emphasis: #8c6716;
    --panel-back: #f2f2f2; /*#002240;*/
    --panel-back-highlight: #909090;
    --default-bck: #fff;
    --line-border: #23536a;
    --error: #ff2121;
    --silence: #318da5; /*#014480;*/

    /* syntax colors */
    --code-default: #FFFFFF;
    --code-var: #4875e5;
    --code-def: #FFFFFF;
    --code-operator: #FFFFFF;
    --code-number: #8c6716;
    --code-comment: #a4a6a7;
    --code-keyword: #9c3190;
    --code-string: #559d5c;
    --code-meta: #FF9D00;
}

/* top level elements */

body, html {
    font-family: Ubuntu;
    background-color: var(--default-bck);
    color: var(--main-txt-color);
    overflow-y: hidden;
}
#outframe {
    max-width: 1500px;
    background-color: var(--default-bck);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-left: 10px solid var(--default-bck);
    border-right: 10px solid var(--default-bck);
}
.main {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

/* header */

#header {
    height: 6vh;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    background-color: var(--default-bck);
    vertical-align: middle;
    /* border-bottom: 1px solid var(--line-border); */
}
#header h1 {
    padding-top: 4px;
    margin-right: 16px;
    padding-left: 4px;
    padding-right: 4px;
    color: var(--header);
    vertical-align: middle;
    display: inline-block;
    margin-bottom: auto;
    margin-top:auto;
}
#header h2 {
    padding-top: 15px;
    font-size: 120%;
    color: var(--main-txt-color);
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 7px;
    margin-top:auto;
}
#whistling {
    color: var(--txt-emphasis);
}
#danieltemkin {
    color: var(--main-txt-color);
}

/* Column 1 */

.input-stream {
    flex: 0 0 150px;
    background-color: var(--panel-back);
    color: var(--main-txt-color);
    overflow-y: hidden;
}
#incidentals {
    font-family: Ubuntu-Mono, sans-serif;
    line-height: 200%;
    color: var(--silence);
}
.inrange {
    color: var(--main-txt-color);
}
/* Column 2 */

.note-program {
    flex: 30%;
    border-right: 1px solid var(--line-border);
    display: flex;
    flex-direction: column;
}

#currentlySounding {
    font-size: 20px;
    line-height: 200%;
    margin: 0;
    padding-bottom: 15px; 
    padding-left: 10px;
    padding-top: 10px;
    background-color: var(--panel-back);
    color: var(--main-txt-color);
    /* color: var(--bright-emphasis); */
}
#currNote {
    color: var(--focus-emphasis);
}
#rootNote {
    color: var(--bright-emphasis);    
}
.button {
    background-color: var(--panel-back);
    border: 1px solid var(--line-border);
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.disabled {
    color: #999;
    cursor: default;
    border: 1px solid #999;
}
.button:hover {
    background-color: var(--panel-back-highlight);
}
#notes_row1 {
    background-color: var(--panel-back);
}
#feedback {
    flex: 80px;
    padding-top: 10px;
    background-color: var(--panel-back);
    padding: 5px;
    /* color: var(--error); */
}
#feedback .desc {
    font-family: Ubuntu-Light;
    color: var(--bright-emphasis);
}
#feedback .exp {
    font-family: Ubuntu-Light;
    color: var(--code-keyword);
    font-size: 20px;
    line-height: 26px;
}
#feedback .err {
    color: var(--error);
}
#notes {
    width: 100%;
    padding-top: 5px;
    overflow-y: auto;
    font-size: 20pt;
    padding: 5px;
    line-height: 26px;
}
#curr_cmd_notes {
    width: 100%;
    height: 140px;
    overflow-y: auto;
    font-size: 20px;
    padding: 5px;
    line-height: 26px;
    margin-top: -10px;
    opacity: 0.8;
}

/* Column 3 */

.text-program {
    flex: 15%;
    display: flex;
    flex-direction: column;
}

#js-program {
    flex: 50%;
    overflow-y: scroll;
}
#js-program pre {
    padding-top: 10px;
    font-size: 120%;
}
#js-output {
    flex: 50%;
    overflow-y: scroll;
}
#program_txt {
    color: val(--code-default);
}
#program_txt .var {
    color: var(--code-var);
}
#program_txt .def {
    color: var(--code-def);
}
#program_txt .oper {
    color: var(--code-operator);
}
#program_txt .num {
    color: var(--code-number);
}
#program_txt .cmt {
    color: var(--code-comment);
}
#program_txt .key {
    color: var(--code-keyword);
}  
#program_txt .str {
    color: var(--code-string);
}
#program_txt .meta {
    color: var(--code-meta);
}

/* Column 4 */
.col4 {
    flex: 0 0 250px;
    overflow-y: scroll;
}
.instructions {
    border: 5px solid var(--panel-back);
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: -20px;
}
.instructions ul, li {
    padding-left: 0;
    margin-left: 8px;
}
.instructions ul {
    line-height: 150%;
}
.instructions ul li ul {
    list-style-type: none;
}
.instructions h3, p {
    padding-top: 20px;
}
.instructions h3 {
    line-height: 200%;
}
.instructions h2 {
    /* color: var(--bright-emphasis); */
    padding-bottom: 10px;
}
.instructions a, .instructions a:hover, .instructions a:visited {
    color: var(--txt-emphasis);
}
.ul_head {
    line-height: 400%;
}
.playbutton {
    cursor: pointer;
    text-decoration: underline;
    color: var(--txt-emphasis);
}
.padding {
    height: 100px;
}
.box {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    height: 94vh;
}
#output {
    /* background-color: #002240; */
    padding: .5em;
}

/* pop-ups */

#loading_modal {
	position: fixed;
	z-index: 98;
    left: 50%;
    top: 30px;
    width: 500px;
    transform: translate(-50%, 0);
	overflow: auto;
    display: block;
}
#modal {
	position: fixed;
	z-index: 99;
	padding: 50px 0 50px 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
    /* display: none; */
	background-color: rgba(154, 153, 153, 0.1);
}

#modal_content {
	width: 50%;
    border: 2px solid #ccc;
    background-color: var(--panel-back);
    color: var(--main-txt-color);
	margin: auto;
	padding: 30px;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	box-shadow: 1px 1px 14px 3px rgba(154, 153, 153,0.25);	
    pointer-events: all;
    z-index: 9900;
    text-align: left;
    line-height: 140%;
}
#modal_content h3 {
    font-size: 100%;
    padding-bottom: 20px;
}
#modal_content p {
    width: 100%;
    text-align: left;
}
#modal_content ol li {
    margin-bottom: 10px;
}
.close {
	color: #aaa;
	float: right;
    margin-top: -15px;
	font-size: 30px;
	font-weight: 700
}
.close:focus,
.close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1200px) {
    .main {
        flex-direction: column;
        overflow-y: auto;
        /* height: 100vh; */
        scroll-behavior: smooth;
    }
    .box {
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid black;
    }
    .box {
        height: auto;
    }
    #header {
        height: auto;
    }
    #outframe {
        border: none;
    }
    .note-program {
        padding-right: 10px;
        font-size: 80%;
    }
    .col4 {
        display: none;
    }
    #input-stream, #note-program {
        font-size: 80%;
    }
    body {
        overflow-y: auto;
    }
    #modal_content {
        padding: 10px;
        width: 90%;
    }
    #modal_content ol {
        padding-left: 5px;
    }
}
